@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

@media (max-width: 800px) {

    .header{
        padding: 0;
    }

    .header ul.nav {
        margin-bottom: 30px;
        text-align: center;
    }

    .navbar-header{
        float: none;
    }

    .navbar-brand {
        height: auto;
        margin-bottom: 30px;
        margin-top: 10px;
        font-size: 120px;
        text-align: center;
        display: inline-table;
    }

    .nav > li > a > img {
        max-height: 1000px;
    }

    .nav .pull-right {
        float: none !important;
    }

    .nav-pills > li {
        display: inline-block;
        margin-right: 10px;
        margin-left: 0;
    }

    .nav > li > a:hover > img{
        opacity: 1;
    }

    .nav > li > a:active > img{
        opacity: .3;
    }

    .header .nav > li > a {
        margin-left: 0;
        padding: 0;
    }

    .teaserxdrums {
        height: 190px;
    }

    .header .nav > li > a > img {
        transition: all 0.2s ease 0s;
        width: 100%;
    }

    .header .nav-pills > li {
        width: 47%;
        float: none;
    }

    .header .nav-pills > li + li {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-brand {
        width: 100%;
    }

}



/*Размеры логотипа*/

@media (max-width: 900px) {

    .navbar-brand {
        font-size: 90px;
    }

}

@media (max-width: 600px) {

    .navbar-brand {
        font-size: 90px;
    }

}


@media (max-width: 500px) {

    .navbar-brand {
        font-size: 85px;
    }

}

@media (max-width: 450px) {

    .navbar-brand {
        font-size: 80px;
    }

}

@media (max-width: 430px) {

    .navbar-brand {
        font-size: 75px;
    }

}

@media (max-width: 410px) {

    .navbar-brand {
        font-size: 60px;
    }

}

@media (max-width: 400px) {

    .navbar-brand {
        font-size: 55px;
    }

}


